{{ $household := . }}

<div
  class="relative rounded-lg border-2 bg-card text-card-foreground shadow-sm hover:border-gray-300 min-h-72"
  id="household-edit-{{ $household.HouseholdID }}"
>
  <a
    href="/households/{{ $household.HouseholdID }}/delete"
    hx-target="#modal-container"
    hx-swap="innerHTML"
    class="z-10 absolute p-2 top-0 right-0 hover:opacity-60 active:opacity-80 transition-opacity duration-150"
    title="Delete household"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-4 w-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
      />
    </svg>
    <span class="sr-only">Delete houshold</span>
  </a>
  <div class="flex flex-col space-y-1.5 p-6 pb-2">
    <h3 class="font-semibold whitespace-nowrap tracking-tight text-lg">
      Edit Household
    </h3>
  </div>
  <form
    action="/households/{{ $household.HouseholdID }}/edit"
    method="POST"
    hx-target="#household-edit-{{ $household.HouseholdID }}"
    hx-swap="outerHTML"
  >
    <div class="p-6 pt-2 space-y-4">
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="name"
          >Household Name</label
        ><input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="name"
          name="name"
          placeholder="Name"
          required=""
          value="{{ $household.Name }}"
          minlength="3"
          maxlength="50"
          autofocus=""
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="location"
          >Location</label
        ><input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="location"
          name="location"
          placeholder="Location"
          required=""
          value="{{ $household.Location }}"
          minlength="3"
          maxlength="50"
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="description"
          >Description</label
        ><textarea
          class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="description"
          name="description"
          placeholder="Description"
          maxlength="200"
        >
{{ $household.Description }}</textarea
        >
      </div>
    </div>
    <div class="flex items-center p-6 justify-between">
      <a
        href="/households/{{ $household.HouseholdID }}"
        hx-target="#household-edit-{{ $household.HouseholdID }}"
        hx-swap="outerHTML"
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
      >
        Cancel
      </a>
      <button
        type="submit"
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 ml-auto"
      >
        Update
      </button>
    </div>
  </form>
</div>
